
export/
.vscode/*
index.html
style.css
converter/*.json
converter/2hot.json
source/api/gamejolt/GJKeys.hx
source/api/newgrounds/APIStuff.hx
source/states/FuckYouState.hx
.haxelib/
desktop.ini
dump/

## For mac or smth
.DS_Store
/server
